<h2>Invoke Generic REST Services</h2>
<div class="table-responsive">
	<form name="invokeform" class="css-form" >
	<table class="table table-striped table-bordered table-hover">
	<tr>
		<td style='width:25%'><b>Method to Invoke</b></td>
		<td style='width:75%'><input type="text" ng-model="invokemethod" required style='width:95%'></td>
	</tr><tr>
		<td><b>Method parameters (JSON)</b></td>
		<td><textarea type="text" ng-model="invokeparams" required style='width:95%' rows=10></textarea></td>
	</tr><tr>
		<td><b>Method format</b></td>
		<td><select ng-model="invokeformat" required>
			<option value='GET'>GET</option><option value='POST'>POST</option></select>
		</td>
	</tr><tr>
		<td><b>Examples</b></td>
		<td><select ng-model="invokeej" ng-options='key for key in invokeexamples' ng-change='loadInvokeExample()'></select></td>
	</tr><tr>
		<td colspan=2><button type="button" class="btn btn-primary" ng-click='sendInvokeCall()' ng-disabled="invokeform.$invalid">{{'Send' | i18next}}</button></td>
	</tr><tr>
		<td colspan=2>{{invokeresult}}</td>
	</tr>
	</table>
	</form>
</div>