<h2>List Types</h2>
<select ng-model="selmtypes" ng-options="value.name as value.label for value in selecttypes" ng-change="changeModule()" style="margin-bottom: 6px;">
<option value="" ng-hide="selmtypes">Searching...</option>
</select>
<div class="table-responsive">
	<table class='table table-striped small table-condensed' style="margin-bottom: 6px;border-bottom: solid;">
		<tr><th>REST ID</th><th>Can Create</th><th>Can Update</th><th>Can Delete</th><th>Can Retrieve</th></tr>
		<tr>
			<td nowrap='nowrap'>{{idPrefix}}x</td>
			<td nowrap='nowrap'>{{createable}}</td>
			<td nowrap='nowrap'>{{updateable}}</td>
			<td nowrap='nowrap'>{{deleteable}}</td>
			<td nowrap='nowrap'>{{retrieveable}}</td>
		</tr>
	</table>
	<table tr-ng-grid="" items="modulefields" class="table table-striped table-bordered table-hover small table-condensed">
		<thead>
			<tr>
				<th field-name="label" display-name="{{'Field' | i18next}}" display-align="center" display-format="formatNameInfo"></th>
				<th field-name="name" display-name="{{'Information' | i18next}}" display-format="formatFieldInfo"></th>
				<th field-name="block" display-name="{{'Block' | i18next}}" display-format="formatBlockInfo"></th>
				<th field-name="type" display-name="{{'Type' | i18next}}" display-format="formatTypeInfo"></th>
				<th field-name="uitype" display-name="{{'Reference/Values' | i18next}}" style="width:30%" display-format="formatReferenceInfo"></th>
			</tr>
		</thead>
	</table>
</div>