<h2>List Types</h2>
<select ng-model="selmtypes" ng-options="value.name as value.label for value in selecttypes" ng-change="changeModule()" style="margin-bottom: 6px;">
<option value="" ng-hide="selmtypes">Searching...</option>
</select>
<div class="table-responsive">
	<table class='table table-striped small table-condensed' style="margin-bottom: 6px;border-bottom: solid;">
		<tr><th>REST ID</th><th>Can Create</th><th>Can Update</th><th>Can Delete</th><th>Can Retrieve</th></tr>
		<tr>
			<td nowrap='nowrap'>{{idPrefix}}x</td>
			<td nowrap='nowrap'>{{createable}}</td>
			<td nowrap='nowrap'>{{updateable}}</td>
			<td nowrap='nowrap'>{{deleteable}}</td>
			<td nowrap='nowrap'>{{retrieveable}}</td>
		</tr>
	</table>
	<table tr-ng-grid="" items="modulefields" class="table table-striped table-bordered table-hover small table-condensed">
		<thead>
			<tr>
				<th field-name="labelinfo" display-name="{{'Field' | i18next}}" display-align="center"></th>
				<th field-name="fieldinfo" display-name="{{'Information' | i18next}}"></th>
				<th field-name="blockinfo" display-name="{{'Block' | i18next}}"></th>
				<th field-name="typeinfo" display-name="{{'Type' | i18next}}"></th>
				<th field-name="refinfo" display-name="{{'Reference/Values' | i18next}}" style="width:30%"></th>
			</tr>
		</thead>
		<tbody>
		<td field-name="labelinfo" ng-bind-html="gridItem.labelinfo"></td>
		<td field-name="fieldinfo" ng-bind-html="gridItem.fieldinfo"></td>
		<td field-name="blockinfo" ng-bind-html="gridItem.blockinfo"></td>
		<td field-name="typeinfo" ng-bind-html="gridItem.typeinfo"></td>
		<td field-name="refinfo" ng-bind-html="gridItem.refinfo"></td>
		</tbody>
	</table>
</div>