<div id="modulecontent" ng-if="retrieveable">
	<h1>{{modulename}} Details {{accountname}}</h1>
	<div class="row" ng-repeat="row in modulefieldList">
		<div ng-repeat="field in row">
		  <div class="{{field.labelclass}}"><label>{{field.label}}</label></div>
		  <div class="{{field.valclass}}">
			<span ng-if="field.type=='string'" editable-text="account.{{field.field}}" e-name="account.{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='phone'" editable-tel="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='url'" editable-url="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='reference'" editable-text="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()" e-typeahead="acc for acc in accs | filter:$viewValue | limitTo:8">{{field.val}}</span>
			<span ng-if="field.type=='email'" editable-email="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='integer'" editable-number="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='picklist'" editable-select="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()" e-ng-options="s.value as s.label for s in field.picklistValues">{{field.val}}</span>
			<span ng-if="field.type=='currency'" editable-number="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='boolean'" editable-checkbox="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='owner'" editable-text="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()" e-typeahead="usr for usr in usrs | filter:$viewValue | limitTo:8">{{field.val}}</span>
			<span ng-if="field.type=='datetime'" editable-bsdate="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='date'" editable-bsdate="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='time'" editable-bstime="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='text'" editable-textarea="account.{{field.field}}" e-name="{{field.field}}" e-form="formacc" id="{{field.field}}" ng-click="formacc.$show()">{{field.val}}</span>
			<span ng-if="field.type=='autogenerated'" e-name="account.{{field.field}}">{{field.val}}</span>
		  </div>
		</div>
	</div>
	<button type="button" class="btn btn-default" ng-click="doCreate()" ng-show="createable">{{'Create' | i18next}}</button>
	<button type="submit" class="btn btn-primary" ng-click="saveAccountModule()" ng-show="updateable">{{'Save' | i18next}}</button>
	<button type="button" class="btn btn-danger" ng-click="doDelete(recordid)" ng-show="deleteable">{{'Delete' | i18next}}</button>
</div>
<div id="modulenocontent" ng-if="!retrieveable">
<h1>Module Details can not be retrieved</h1>
</div>